<template>
    <div class="modal fade" id="edit_team_list" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Редактировать команд</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editTeam">Команд</label>
                        <input type="text" class="form-control" id="editTeam" v-model="team.club">
                    </div>
                    <div class="card card-default">
                        <div class="card-header">Изображение команда</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3" v-if="imageShowClub">
                                    <img :src="imageShowClub" class="img-responsive" height="70" width="90">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Загрузить</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" @change="editImageClub" ref="editClubImg"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="trainer">Главный тренер </label>
                        <input type="text" class="form-control" id="trainer" v-model="team.trainer">
                    </div>
                    <div class="card card-default">
                        <div class="card-header">Изображение тренера</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3" v-if="imageShow">
                                    <img :src="imageShow" class="img-responsive" height="70" width="90">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Загрузить</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" @change="onImageChange" ref="file"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="getNewValueTeam()">
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {mapActions, mapGetters} from "vuex";

    export default {
        name: "EditTeamList",
        data() {
            return {
                team: {
                    id: '',
                    trainer: '',
                    club: '',
                },
                post: {
                    image: '',
                    imageClub: '',
                },
                imageShow: '',
                imageShowClub: '',
            }
        },
        methods: {
            ...mapActions(['getNewEditTeamList']),
            getNewValueTeam() {
                let data = {
                    id: this.team.id,
                    club: this.team.club,
                    trainer: this.team.trainer,
                    trainer_img: this.post.image,
                    club_img: this.post.imageClub,
                }
                this.getNewEditTeamList(data);
            },
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.post.image = this.$refs.file.files[0];
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.imageShow = e.target.result;
                };
                reader.readAsDataURL(files[0]);
            },
            editImageClub(e) {

                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;

                this.post.imageClub = this.$refs.editClubImg.files[0];
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.imageShowClub = e.target.result;
                };
                reader.readAsDataURL(files[0]);
            },
        },
        computed: {
            ...mapGetters([
                'getForEditTeamList'
            ]),
        },
        watch: {

            getForEditTeamList() {
                this.team.id = this.getForEditTeamList.getListTeamResult.id,
                    this.team.club = this.getForEditTeamList.getListTeamResult.club,
                    this.team.trainer = this.getForEditTeamList.getListTeamResult.trainer,
                    this.imageShowClub = this.getForEditTeamList.getListTeamResult.club_img,
                    this.imageShow = this.getForEditTeamList.getListTeamResult.trainer_img
            },
        },
    }
</script>

<style scoped>
    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

</style>
