<template>
    <div>
        <add-result/>
        <h2 class="text-center mt-3" style="color: #26a69a">Результаты</h2>
        <div class="content">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Результаты</h5>
                    <button class="btn btn-primary" @click="modalAddResult">Добавить результ +</button>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Роунд</th>
                            <th>Команд 1</th>
                            <th>Команд 2</th>
                            <th>Счет</th>
                            <th>Дата начала</th>
                            <th></th>
                        </tr>
                        <tr v-for="result in allResults">
                            <td>{{ result.round }}</td>
                            <td>{{ result.first_team_list.club }}</td>
                            <td>{{ result.second_team_list.club }}</td>
                            <td>{{ result.score }}</td>
                            <td>{{ result.start_day }}</td>
                            <td class="text-right">
                                <div class="list-icons">
                                    <p class="list-icons-item text-danger-600 m-0 cursor-pointer"
                                       @click="deleteResult(result.id)">
                                        <i class="icon-trash"></i>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    import AddResult from "../../Modals/result/AddResult";

    export default {
        name: "Results",

        data() {
            return {}
        },
        components: {
            'add-result': AddResult
        },
        computed: {
            ...mapGetters([
                'allResults'
            ])
        },
        methods: {
            ...mapActions(['getScore', 'delResult']),

            deleteResult(id) {
                this.$swal({
                    title: 'Are you sure?',
                    text: 'You can\'t revert your action',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes Delete it!',
                    cancelButtonText: 'No, Keep it!',
                    showCloseButton: true,
                    showLoaderOnConfirm: true
                }).then(() => {
                    this.delResult(id).then((response) => {
                        this.results = response.results;
                        this.$swal('Deleted', 'You successfully deleted this file', 'success')
                    });
                })
            },

            modalAddResult() {
                $("#add_result").modal();
            },

        },
        created() {
            this.getScore().then((response) => {
                this.allResults;
            });
        }
    }
</script>

<style scoped>

</style>
