* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: url('bg.jpg') center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
}

.payment-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 651px;
  padding: 20px;
}

.payment-amount {
  font-size: 3.1em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.payment-text {
  font-size: 1.3em;
  margin-bottom: 0.5em;
  text-align: center;
  font-weight: bold;
}

.payment-btn {
  max-width: 291px;
  min-width: 208px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  color: #000;
  background: #fff;
  padding: 24px 20px;
  border-radius: 48px;
  margin-bottom: 19px;
  font-weight: bold;
  cursor: pointer;
}

.payment-describe {
  font-size: 1.5em;
  line-height: 1.6em;
  text-align: center;
  font-weight: 400;
  max-width: 585px;
}
