<template>
    <div>
        <update-user/>
    </div>
</template>
<script>
    import UpdateUser from "./UpdateUser";

    export default {
        data() {
            return {
            }
        },
        components: {
            UpdateUser,
        }
    }
</script>
