<template>
    <div class="modal fade" id="edit_user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Редактировать пользователь </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="phone">Телефонный номер</label>
                        <input type="text" class="form-control" id="phone" v-model="user.phone">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="getUserValue()">
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {mapActions, mapGetters} from "vuex";

    export default {
        name: "UpdateUser",
        data() {
            return {
                id: null,
                user: {
                    id: '',
                    phone: '',
                }
            }
        },
        methods: {
            ...mapActions(['editUser']),

            getUserValue() {
                let data = {
                    id: this.user.id,
                    phone: this.user.phone,
                }
                this.editUser(data);
            },
        },
        computed: {
            ...mapGetters([
                'getNewOneUser'
            ]),
        },
        watch: {
            getNewOneUser() {
                this.user.id = this.getNewOneUser.getOneUserResult.id,
                this.user.phone = this.getNewOneUser.getOneUserResult.phone
            },
        },
    }
</script>

<style scoped>


</style>
