<template>
    <div class="modal fade" id="edit_team_structure" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавить новый игрок</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Выберите команд</label>
                        <select class="form-control" v-model="selectedClub">
                            <option v-for="allTeamList in allTeamLists" :value="allTeamList.id">{{ allTeamList.club}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="listPlayer">Имя футболиста</label>
                        <input type="text" class="form-control" id="listPlayer" v-model="player.name">
                    </div>
                    <div class="form-group">
                        <label for="numberPlayer">Номера футболистов</label>
                        <input type="text" class="form-control" id="numberPlayer" v-model="player.number">
                    </div>
                    <div class="form-group">
                        <label for="birthday">Год рождения</label>
                        <input type="date" class="form-control" id="birthday" v-model="player.birthday">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="saveNewPlayer">
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {mapActions, mapGetters} from "vuex";

    export default {
        name: "EditTeamStructure",
        data() {
            return {
                player: {
                    id : '',
                    name: '',
                    number: '',
                    birthday: '',
                },
                allTeamLists: '',
                selectedClub: '',
            }
        },
        computed : {
            ...mapGetters([
                'getOneTeamStruc'
            ])
        },
        watch: {
            getOneTeamStruc() {
                this.player.id = this.getOneTeamStruc.id,
                    this.player.name = this.getOneTeamStruc.player_name,
                    this.player.number = this.getOneTeamStruc.player_number,
                    this.player.birthday = this.getOneTeamStruc.birthday,
                    this.selectedClub = this.getOneTeamStruc.club_id
            },
        },
        methods: {
            ...mapActions([ 'getAllTeamList', 'editNewResultTeamSt']),
            saveNewPlayer(id) {
                let data = {
                    id: this.player.id,
                    name: this.player.name,
                    number: this.player.number,
                    birthday: this.player.birthday,
                    club_id : this.selectedClub
                }
                this.editNewResultTeamSt(data);
            },
        },
        created() {
            this.getAllTeamList().then((response) => {
                this.allTeamLists = response.allListTeam
            });
        }
    }
</script>

<style scoped>


</style>

