<template>
    <div class="modal fade" id="add_result" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавить новый результат</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Выберите команд 1</label>
                        <select class="form-control" v-model="selectedClubOne">
                            <option v-for="allTeamList in allTeamLists" :value="allTeamList.id">{{ allTeamList.club}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Выберите команд 2</label>
                        <select class="form-control" v-model="selectedClubTwo">
                            <option v-for="allTeamList in allTeamLists" :value="allTeamList.id">{{ allTeamList.club}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="round">Роунд</label>
                        <input type="text" class="form-control" id="round" v-model="result.round">
                    </div>
                    <div class="form-group">
                        <label for="numberPlayer">Счет</label>
                        <input type="text" class="form-control" id="numberPlayer" v-model="result.score">
                    </div>
                    <div class="form-group">
                        <label for="birthday">Дата начала</label>
                        <input type="date" class="form-control" id="birthday" v-model="result.start_day">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="saveResult">
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {mapActions} from "vuex";

    export default {
        name: "AddResult",
        data() {
            return {
                result: {
                    round: '',
                    score: '',
                    start_day: '',
                },
                allTeamLists: '',
                selectedClubOne: '',
                selectedClubTwo: '',
            }
        },
        methods: {
            ...mapActions(['addResult', 'getAllTeamList']),
            saveResult() {
                let data = {
                    club_one: this.selectedClubOne,
                    club_two: this.selectedClubTwo,
                    round: this.result.round,
                    score: this.result.score,
                    start_day: this.result.start_day,

                }
                this.addResult(data);
                this.result.round = '',
                this.result.score = '',
                this.result.start_day = '',
                this.selectedClubOne = '',
                this.selectedClubTwo = ''
            },
        },
        created() {
            this.getAllTeamList().then((response) => {
                this.allTeamLists = response.allListTeam
            });
        }
    }
</script>

<style scoped>


</style>

